[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
msedge-selenium-tools = "*"
selenium = "==3.141"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
